body, input, textarea, select {
    line-height: 1.1em;
    font-size: 13pt;
    color: #666;
    font-family: 'Segoe UI', Verdana, Arial, sans-serif;
    line-height: 150%;
}

.button {
    background: darkgray;   
}

.button:hover {
    background: #B7C1F7;
}

a {
    color: #38426B;
}

a:hover {
    color: #00009E;
}

#nav > ul > li:hover > a > span {
    color: #B7C1F7;
}

#header-wrapper {
    background-color: #333;
}

#header-wrapper span, #header p {
    color: white;
}

#header {
    padding: 5em 0em 1em 0em;
    box-shadow: none;
    border: none;
}

#header h1 {
    color: #B7C1F7;
}

#nav {
    top: 1em;
}

#main-wrapper {
    padding-top: 2em;
}

h1 {
    line-height: 0.8;
}

h2,h3,h4,h5,h6 {
    color: #666;
    text-transform: inherit;
    margin-bottom: 0;
}

p, ul, ol, dl, table, blockquote {
    margin-bottom: .8em;
    margin-top: .8em;
}

ul ul, ol ol, ol ul, ul ol {
    list-style: circle;
}

.is-post ul,ol {
    list-style: disc;
    padding-left: 25px;
}

.post-date {
    float: left;
}

#post-tags {
    float:left;
    padding-left: 30px;
    margin-top: 0;
}

.socialShare, .summary {
    clear: both;
}

.socialShare a {
    border: none;
}

/* prettifing */
pre {
    background: #f0f0f0;
    border: none;
    margin-bottom: .8em;
    overflow: scroll;
}

code {
    color: #008;
    font-family: "Consolas";
}

/* tags */
h1.tag-header {
    font-size: 2em;
    margin-bottom: 1em;
    text-transform: inherit;
}

.tags li {
    display: inline-block;
    margin-right: 1em;
}

.tags .icon::before {
    padding-right: 0.2em;
}

.tags a {
    border: none;
}

.divided .icon {
    font-size: 75%;
}

/* pagination */
.pagination li {
    display: inline-block;
}

.pagination li:last-child {
    float: right;
}

.pagination .icon:before {
    margin: 0em 0.2em;
}

#footer-wrapper {
    padding: 0;
    margin: 0;
}

#copyright {
    padding-top: 2em;
    margin: 0;
}

#copyright ul.links li:first-child {
    padding-left: 1em;
}

#features-wrapper {
    text-align: left;
}

#features-wrapper p {
    text-align: left;
}
