<configuration>
    <system.webServer>
        <httpErrors errorMode="DetailedLocalOnly" defaultPath="/404.html" defaultResponseMode="ExecuteURL">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
    <system.web>
        <customErrors mode="On">
            <error statusCode="404" redirect="/404.html" />
        </customErrors>
    </system.web>
</configuration>
